*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-size: 62.5%; */
}
a{
    text-decoration: none;
}
button{
    border: none;
    cursor: pointer;
}
.place_me_center{
    text-align: center;
}
.place_color{
    color: #F5B419;
}
/* Header Section Start */
nav{
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon{
    color: #F5B419;
    margin: 0 1.2rem;
    font-weight: bolder;
    font-size: 2rem;
}
ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0 1rem;
}
ul li a{
    color: black;
    font-weight: bold;
}
/* Header Section end */
/* Section Start */
section{
    height: 25rem;
    margin-bottom: 2px;
}
.hero{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 20px;
}
.hero h2{
    color: #F5B419;
    margin-bottom: 0.9rem;
    font-size: 3rem;
}
.hero h3{
    margin-bottom: 0.9rem;
    font-weight: bolder;
    font-size: 2rem;
}
.hero_img_container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero_img_container img{
    height: 80%;
    width:50%;
    border-radius: 7px;
    object-fit: cover;
}
.hero button{
    background-color: #F5B419;
    color: #fff;
    width: 7rem;
    height: 3rem;
    padding: 10px;
    border-color: #F5B419;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 10px 10px 50px #f5dba0;
}
.about{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.about_info{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.about_img_container{
    height: 50%;
}
.about_img_container img{
   height: 100%;
   width: 100%;
    object-fit: cover;
    border-radius: 7px;
}
.about_info_p{
    margin: 15px 0;
    color: #F5B419;
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 0.4rem;
}
.about_info_h2{
    margin: 15px 0;
}
.about_info_p2{
    margin: 15px 0; 
}
.about button{
    background-color: #F5B419;
    color: #fff;
    width: 7rem;
    height: 3rem;
    padding: 10px;
    border-color: #F5B419;
    border-radius: 10px;
    font-weight: bold;
    
}
/* Menu Start */
.menu_p{
    color: #F5B419;
    font-weight: bold;
    font-size: 1.5rem;
}
.burger_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 1.3rem;
    
}
.burger-details{
    box-shadow: 0px 0px 100px #f5dba0;
    border-radius: 10px;
}
.burger-details img{
    width: 150px;
    object-fit: cover;
    border-radius: 7px;
}
/* Service section start */
.service_peragraph{
    color: #F5B419;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}
.service_h2{
    text-align: center; 
    margin: 10px 0;
    letter-spacing: 4px;
}
.service_details{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.service_details_div{
    width: 30%; 
    box-shadow: 0px 0px 100px #f5dba0;
    border-radius: 15px;
    padding: 5px;
}
.service_details_div img{
    margin: 5px;
    border-radius: 5px;
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.service_details_div p{
    text-align: justify;
    padding: 4px;
}
/* Service section end */
/* Contact Section start */
.contact-section{
    width: 100vw;
    height: 25vh;
    margin-top: 40px;
    /* background-color: #F5B419; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}.contact-now{
    width: 30%;
}
.contact-now p{
    color: #F5B419;
    margin-bottom: 10px;
    font-weight: bold;
}
.contact-now h2{
    font-size: 2rem;
    letter-spacing: 3px;
}
.contact-btn{
    width: 30%;
    text-align: center;
}
.contact-btn button{
    background-color: #F5B419;
    color: #fff;
    width: 7rem;
    height: 3rem;
    padding: 10px;
    border-color: #F5B419;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 10px 10px 50px #f5dba0;
}
/* Contact Section end */


/*  Footer Start */
footer{
    display: flex;
    height: 35vh;
    margin-top: 10px;
    background-color: #304146;
}
.self-div{
    width: 25%;
    margin: 3px;
    padding: 20px;
    
}
.self-div h3{
    color: #fff;
    text-align: start;
    margin-bottom: 10px;
}
.self-div p{
    text-align: start;
    color: #fff;;
    margin-left: 15px;

} 
.Social-icon{
    margin: 10px;
}
.Social-icon a {
    color: #fff;
    font-size: large;
    margin: 0 15px;
}
.Manu-List ul li{
    display: block;
    list-style-type: none;
    margin: 7px 0;
    position: relative;
    left: 10px;
}
.Manu-List ul li a{
    text-decoration: none;
    font-weight: normal;
    color: #fff;   
}
.Manu-List ul li:hover a{
    border-bottom: 2px solid #F5B419;
    font-weight: bold;
    transition: 0.15s;
}
.quick-Link ul li{
    display: block;
    list-style-type: none;
    margin: 7px 0;
    position: relative;
    left: 10px;
}
.quick-Link ul li a{
    font-weight: normal;
    text-decoration: none;
    color: #fff;    
}
.quick-Link ul li:hover a{
    border-bottom: 2px solid #F5B419;
    font-weight: bold;
    transition: 0.15s;
}
.contact-icon{
    display: flex;
    flex-direction: column;
}
.icons{
    display: flex;
    margin-top: 1rem;
}
.icons a {
    color: #fff;
}
/*  Footer end */