*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}
button{
    border: none;
    cursor: pointer;
}
.place_me_center{
    text-align: center;
}
/* Header Section Start */
nav{
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon{
    color: #F5B419;
    margin: 0 1.2rem;
    font-weight: bolder;
    font-size: 2rem;
}
ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0 1rem;
}
ul li a{
    color: black;
    font-weight: bold;
}
/* Header Section end */
/* Section Start */
section{
    height: 25rem;
    margin-bottom: 2px;
    border: 2px solid #F5B419;
}
.hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.hero h2{
    color: #F5B419;
    margin-bottom: 0.9rem;
    font-size: 3rem;
}
.hero h3{
    margin-bottom: 0.9rem;
    font-weight: bolder;
    font-size: 2rem;
}
.hero img{
    width: 15rem;
    border-radius: 10px;
}
.hero button{
    background-color: #F5B419;
    color: #fff;
    width: 7rem;
    height: 3rem;
    padding: 10px;
    border-color: #F5B419;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 0 2px 5px lightgray;
}
.about{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.about img{
    width: 19rem;
    height: 10rem;
}
.about h5{
    color: #F5B419;
    margin-bottom: 1rem;
    letter-spacing: 0.4rem;
}
.about h2,p{
    margin-bottom: 1rem;
}
.about button{
    background-color: #F5B419;
    color: #fff;
    width: 7rem;
    height: 3rem;
    padding: 10px;
    border-color: #F5B419;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 0 2px 5px lightgray;
}

.burger_container{
    display: flex;
}
.burger_container div{
    width: 33.333%;
    background-color: #F5B419;
    margin: 5px;
}

.burger_container img, h3,p{
    text-align: center;
}
/*  Footer Start */
footer{
    display: flex;
    height: 35vh;
    margin-top: 10px;
    background-color: #304146;
}
.self-div{
    width: 25%;
    margin: 3px;
    padding: 20px;
    
}
.self-div h3{
    color: #fff;
    text-align: start;
    margin-bottom: 10px;
}
.self-div p{
    text-align: start;
    color: #fff;;
    margin-left: 15px;

} 
.Social-icon{
    margin-left: 10px;
}
.Social-icon a {
    color: #fff;
    font-size: large;
    margin: 0 10px;
}
.Manu-List ul li{
    display: block;
    list-style-type: none;
    margin: 7px 0;
    position: relative;
    left: 10px;
}
.Manu-List ul li a{
    text-decoration: none;
    font-weight: normal;
    color: #fff;   
}
.Manu-List ul li:hover a{
    border-bottom: 2px solid dodgerblue;
    font-weight: bold;
    transition: 0.15s;
}
.quick-Link ul li{
    display: block;
    list-style-type: none;
    margin: 7px 0;
    position: relative;
    left: 10px;
}
.quick-Link ul li a{
    font-weight: normal;
    text-decoration: none;
    color: #fff;    
}
.quick-Link ul li:hover a{
    border-bottom: 2px solid dodgerblue;
    font-weight: bold;
    transition: 0.15s;
}
.contact-icon{
    display: flex;
    flex-direction: column;
}
.icons{
    display: flex; 
}
.icons a {
    color: #fff;
}
/*  Footer end */